.wrapperImgSocial {
    border-radius: 0%;
}

.wrapperImgSocial .imgSocial {
    width: 50px;
    height: 100%;
    box-shadow: 0 0 10px #000000;
    border-radius: 25%;
    margin-right: 30px;
    margin-left: 30px;
}
.wrapperImgSocial .imgSocial img{
    border-radius: 25%;
}

.wrapperImgSocial .imgSocial:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

@media screen and (max-width: 480px) {
    .wrapperImgSocial .imgSocial {
        width: 40px;
        height: 100%;
        box-shadow: 0 0 10px #000000;
        border-radius: 25%;
        margin-right: 10px;
        margin-left: 10px;
    }

    .wrapperImgSocial .imgSocial:active {
        top: .1em;
        left: .1em;
        box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
    }
}
