@font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

html,
body {
    color: white;
    font-family: 'Inter var';
    line-height: 1.4;
    letter-spacing: calc(1em / 12);
    font-size: 14px;
    background-color: rgba(230, 230, 230, 1);
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 18px;
    color: white;
}

h2 {
    font-size: 16px;
    background-color: rgb(74, 194, 74, 0.65);
    color: white ;
    padding: 3px;
    line-height: 120%;
    width: fit-content;
}

h3 {
    font-size: 15px;
    color: white  ;
}

a {
    color: #0070f3;
    font-style: italic;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    font-style: italic;
  }
