.siteWrapper {
    display: grid;
    grid-template-areas:
      'header'
      'feed'
      'footer';
      grid-template-rows: 10vh 80vh 10vh;
      grid-template-columns: 1fr;
}

@media screen and (max-width: 768px) {
    .siteWrapper {
        display: grid;
        grid-template-areas:
          'header'
          'feed'
          'footer';
          grid-template-rows: 10dvh 80dvh 10dvh;
          grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    .siteWrapper {
        display: grid;
        grid-template-areas:
          'header'
          'feed'
          'footer';
          grid-template-rows: 10dvh 80dvh 10dvh;
          grid-template-columns: 1fr;
    }
}

.siteWrapper .siteWrapperHeader {
    grid-area: header;
    /* position: sticky;
    top: 0; */
    margin: 0px 10px 0px 10px;
    z-index: 3;
    background-color: rgba(230, 230, 230, 1);
    /* background-image: url("../images/backgroundNavbar1.png");
    background-size: 80vw 10vh;
    background-repeat: no-repeat;
    background-position: bottom right; */
    /* background: transparent; */
}

.siteWrapper .siteWrapperFeed {
    grid-area: feed;
    background-image: url("../images/backgroundFeed_grey.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center;
    border: 2px dotted grey;
    padding: 5px;
    margin: 5px 10px 5px 10px;
    overflow: auto;
    z-index: 2;
}

.siteWrapper .siteWrapperFooter {
    grid-area: footer;
    /* try  */
    /* position: sticky;
    bottom: 0; */

    /* html, body { height: 100%; }
    .footer-element {
        position: fixed;
        bottom: 10px;
    } */
    /* position: fixed;
    bottom: 0; */

    position: sticky;
    top: 100dvh;
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 10vh; */

    z-index: 3;
    margin: 0px 10px 0px 10px;
    background-color: rgba(230, 230, 230, 1);
    background-image: url("../images/backgroundFooter.png");
    background-size: 300px 10vh;
    background-repeat: no-repeat;
    background-position: center center;
}
