.siteWrapper {
    display: grid;

    grid-template-areas: 'header header' 'feed feed' 'footer footer';

    grid-template-rows: 10vh 80vh 10vh;
    /* grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto); */
    grid-template-columns: 0vw auto;
}

/*основной - #CEF4FF*/
/*дополнительный #A6EBFF */
/*акцент #FFDDBA */

/*for desctop*/
/*grid-template-areas:*/
/*"header header header"*/
/*"nav article ads"*/
/*"footer footer footer";*/

/*for mobile*/
/*@media all and (max-width: 575px) {*/
/*    .site-wrapper {*/
/*        grid-template-areas:*/
/*                "header"*/
/*                "article"*/
/*                "ads"*/
/*                "nav"*/
/*                "footer";*/
/*        grid-template-rows: 80px 1fr 70px 1fr 70px;*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/

.siteWrapper .siteWrapperHeader {
    grid-area: header;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0px 10px 0px 10px;
    z-index: 3;
    /* height: auto; */
}

.siteWrapper .siteWrapperFeed {
    grid-area: feed;
    background-color: rgba(164, 255, 195, 0.8);
    /* background-image: url("../images/photo_2023-07-29_14-15-34.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center; */
    /* background: transparent; */
    border: 2px dotted grey;
    /* border-bottom: 0; */
    padding: 5px;
    margin: 2px 10px 2px 10px;
    overflow: auto;
    /* height: auto; */
    z-index: 2;
}

.siteWrapper .siteWrapperFooter {
    grid-area: footer;
    position: sticky;
    bottom: 0;
    z-index: 3;
    background-color: white;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    /* height: auto; */
}
