.navbarMainBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 10vh;
}

.menuButton {
    margin-right: 10vw;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #8A0041;
    background-color: #FFDE00;
    border: none;
    border-radius: 10%;
    box-shadow: 0 0 10px #000000;
}
.menuButton:hover {
    background-color: #8A0041;
    color: #FFDE00;
}
.menuButton:active {
    background-color: #8A0041;
    color: #FFDE00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
