.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 768px) {
    .carousel {
        width: 100%;
        max-width: 550px;
        height: 65vh;
    }
}

@media screen and (max-width: 480px) {
    .carousel {
        width: 100%;
        height: 60vh;
    }
}

.slide {
    border-radius: 1.2rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
}

.slideHidden {
    display: none;
}

.slide img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.2rem;
}

.slideHidden img{
    display: none;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: rgb(130, 130, 255, 0.9);
    border: 1px solid white;
    border-radius: 25%;
    filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
    cursor: pointer;
}
/* .arrow:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

.arrowLeft {
    left: 0.5rem;
    bottom: 3rem;
}

.arrowRight {
    right: 0.5rem;
    bottom: 3rem;
}

.indicators {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0.5rem;
}

.indicator {
    background-color: white;
    width: 0.2rem;
    height: 0.3rem;
    border-radius: 100%;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 5px #555);
    margin: 0.2rem 0.2rem;
    cursor: pointer;
}

.indicatorInactiv{
    background-color: gray;
}

.blockNumbers {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 3px 10px 3px 10px;
    background-color: grey;
    color: white;
    text-align: center;
    width: fit-content;
    border-radius: 40%;
}
